<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="RRHHWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00"
                                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                        <binding name="LogisticaWSPortBinding" receiveTimeout="00:01:00"
                                sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                        <binding name="VentasWSPortBinding" receiveTimeout="00:01:00"
                                sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                        <binding name="ReporteWSPortBinding" receiveTimeout="00:01:00"
                                sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8080/RetailSoftWebServices/RRHHWS"
                        binding="basicHttpBinding" bindingConfiguration="RRHHWSPortBinding"
                        contract="RRHHWS.RRHHWS" name="RRHHWSPort" />
                <endpoint address="http://localhost:8080/RetailSoftWebServices/LogisticaWS"
                        binding="basicHttpBinding" bindingConfiguration="LogisticaWSPortBinding"
                        contract="LogisticaWS.LogisticaWS" name="LogisticaWSPort" />
                <endpoint address="http://localhost:8080/RetailSoftWebServices/VentasWS"
                        binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
                        contract="VentasWS.VentasWS" name="VentasWSPort" />
                <endpoint address="http://localhost:8080/RetailSoftWebServices/ReporteWS"
                        binding="basicHttpBinding" bindingConfiguration="ReporteWSPortBinding"
                        contract="ReporteWS.ReporteWS" name="ReporteWSPort" />
        </client>
    </system.serviceModel>
</configuration>